@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xBIM Tools</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style>
        .btn-default {
            background-color: #2184be;
            color: white;
            font-weight: bold;
            -moz-min-width: 50%;
            -ms-min-width: 50%;
            -o-min-width: 50%;
            -webkit-min-width: 50%;
            min-width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2em;
        }
    </style>
</head>
<body>
<div class="container body-content">

    <div class="row">
        <div class="col-md-8">
            <h1>
                xBIM Tools for BIM Toolkit
            </h1>
        </div>
        <div class="col-md-4">
            <img src="~/Content/img/xBIM_official_icon.png" alt="logo" class="pull-right" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Submission preview</h2>
            <p>
                After you got a Digital Plan of Work requirements as a part of your job you started to develop your design or a part of it.
                This tool will help you to understand if you met the DPoW requirements and to identify flaws in a data in a familiar environment
                of 3D viewer. You will need IFC model of your data and DPoW requirements file to be able to use this tool.
            </p>
            <a class="btn btn-default" href="@Url.Action("Index", "Model")" target="_blank">Submission preview</a>
        </div>
        <div class="col-md-4">
            <h2>DPoW verification</h2>
            <p>
                This tool will do COBie verification against Digital Plan of Work requirements. You will have DPoW data created
                from NBS BIM Toolkit. That is a place to go to create the specification. You will be able to download uncluttered Excel
                spreadsheet report of the verification.
            </p>
            <a class="btn btn-default" href="@Url.Action("Index", "Verification")" target="_blank">Verify DPoW</a>
        </div>
        <div class="col-md-4">
            <h2>COBie validation</h2>
            <p>
                COBie is the buzz word now. Everyone heard about it and everyone in UK will supposingly have to deliver it as soon as from the
                beginning of 2016. And that is pretty soon. There are many tools out there which can produce COBie files. But during our research
                we found out that quality of these files is varying. To make your life easier we created this tool which will help you to validate
                your COBie file according to BS 1192 part 4 (which is all about UK flavour of COBie).
            </p>
            @*<p>
                Apart from being able to validata your COBie file we offer you an option to download fixed version of your data.
                This means we might create default data in there to make the file compliant to BS 1192 part 4 or rename entities with
                duplicated names. Please, be aware that even if we put our best into this tool we are not responsible for the resulting data.
                If you use this data for any purpose it is solely your responsibility.
            </p>*@
            <a class="btn btn-default" href="@Url.Action("Index", "Validation")" target="_blank">Validate COBie</a>
        </div>
    </div>
</div>
<footer class="footer">
    <p>&copy; @DateTime.Now.Year - xBIM Team, Northumbria University</p>
</footer>

@Scripts.Render("~/bundles/bootstrap")
</body>
</html>